<div class="wrap">
    <!--<h3>Sorry! This plugins is under maintenance.</h3>-->
    <h3>Silahkan pilih file laporan yang akan di-unduh:</h3><br><br>

	<h4>Aktor Pembangunan</h4>
	<button class="sdgs-btn" onclick="download_csv()"><i class="fas fa-file-csv"></i> CSV</button>&nbsp;
	<button class="sdgs-btn" id="aktor_pembangunan_xls_btn"><i class="fas fa-file-excel"></i> XLS</button>
	<div class="load" id="aktor_pembangunan_load"></div>
    <br><br>

	<h4>Program & Kegiatan</h4>
	<button class="sdgs-btn" onclick="download_csv()"><i class="fas fa-file-csv"></i> CSV</button>&nbsp;
	<button class="sdgs-btn" onclick="download_csv()"><i class="fas fa-file-excel"></i> XLS</button>
	<br><br>
</div>