 /* Style buttons */
 .sdgs-btn {
  background-color: rgb(52, 216, 52); /* Blue background */  
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.sdgs-btn:hover {
  background-color: RoyalBlue;
} 

.load{
  display: none;
  height: 25px;
}

.loading{
  background-image : url('/wp-includes/js/thickbox/loadingAnimation.gif');  
  background-repeat: no-repeat;
}

.loading:after {
    content: "Downloading..";
    padding-left : 25px;
}